<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Image #{{ image.id }}</title>
    <meta charset="UTF-8">
</head>
<body>
<h2>Image #{{ image.id }}</h2>
<p>Created at: {{ date }}</p>
<p>Description: {{ image.text }}</p>
<p>Resolution: {{ image.width }}x{{ image.height }}</p>
<p>Mime: {{ image.mimetype }}</p>
<p>Hash: {{ image.sha256hash }}</p>
<p>
    <a href="/i/{{ image.id | int - 1 }}">Prev</a>
    <a href="/i/{{ image.id | int + 1 }}">Next</a>
</p>
<a href="{{ storage_url }}"><img src="{{ storage_url }}" width="720px"></a>
<p></p>
</body>
</html>
